body {
    margin: 0;
    padding: 0;
    background-color: #0062cc;
    height: 100vh;
  }
  #create .container #create-row #create-column #create-box {
    margin-top: 120px;
    max-width: 600px;
    height: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  }
  #create .container #create-row #create-column #create-box #create-form {
    padding: 20px;
  }
  #create .container #create-row #create-column #create-box #create-form #register-link {
    margin-top: -85px;
  }
  #warning{
    color: #DC143C;
    font-weight: 600;
    text-decoration: none;
    display: none;
}
  .blue-text .btn-info {
	  color: #0062cc;
  }